.skills {
    color: white;
    display: flex;
    padding-left: 50px;
    text-align: center;
    justify-content: center;
}

h1 {
    padding-top: 110px;
    justify-content: center;
    text-align: center;
}

.languages { 
    padding: 15px;
}

.technologies {
    padding: 15px;
    font-size: 18px;
}

.project-management {
    padding: 15px;
    font-size: 18px;
} 

.photo-credit {
    position: relative;
    height: 25vh; /* Ensures it spans the entire viewport height */
    /* Need to play around with the height to adjust */
}  

.photo-credit p {
    position: absolute;
    bottom: 0;
    right: 2px;
    color: grey;
    font-size: 13px;
}

.photo-credit a {
    color: grey;
    text-decoration: none;
}
